/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  padding: 0;
  margin: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  width: 100%;
  *zoom: 1;
}

body:before,
body:after {
  display: table;
  content: "";
}

body:after {
  clear: both;
}

.wrapper-1,
.wrapper-2 {
  width: 412px;
  height: 60px;
  padding: 8px;
  padding-bottom: 12px;
  background: linear-gradient(#3d4246, #24282b);
  border-top: 1px solid #53575C;
  border-left: 1px solid #53575C;
  border-radius: 4px;
  box-shadow: 1px 1px #17191C,
  0 0 10px #323338;
}

ul {
  width: 410px;
  height: 100%;
  background: #0F1014;
  border: 1px solid #0F1014;
  border-radius: 3px;
}

ul li {
  display: table;
  float: left;
  width: 80px;
  height: 100%;
  color: #D9D9D9;
  text-align: center;
  text-shadow: 0 1px #0F1014;
  cursor: pointer;
  background: linear-gradient(#44494f, #2f3237);
  border-top: 1px solid #53575C;
  border-right: 1px solid #0F1014;
  border-bottom: 1px solid #0F1014;
  border-left: 1px solid #53575C;
  border-radius: 3px;
  box-shadow: 1px 1px #17191C;
}

ul li b {
  margin-top: 20px;
  font-size: 24px;
}

ul li:active,
ul li.active {
  color: #171820;
  background: #2A2D31;
  border: 1px solid #0F1014;
  box-shadow: inset 0 0 5px 2px rgba(15, 16, 20, 0.5);
}

ul li:not(.active):hover {
  text-shadow: 1px 1px 10px Yellow;
}

.wrapper-2 ul li:not(.active):hover {
  text-shadow: 1px 1px 10px HotPink;
}

ul li:active {
  text-shadow: none !important;
}

.wrapper-2 ul li {
  color: #0F1014;
  text-shadow: 0 1px #666;
}

.wrapper-2 ul li:active,
.wrapper-2 ul li.active {
  color: grey;
}

@font-face {
  font-family: 'Segoe UI Light';
  font-style: normal;
  font-weight: normal;
  src: url('/css/SEGOEUIL.eot');
  src: url('/css/SEGOEUIL.ttf') format('truetype');
}

body {
  font: 1em Segoe UI Light, Tahoma, Arial, Verdana, sans-serif;
  color: #34ABE8;
  background: #744575;
  background-image: radial-gradient(center, circle cover, #9b729a, #5e2c61);
}

@media all and (min-width: 769px) {
  menu {
    display: inline;
    float: left;
    width: 81.25%;
    height: 50px;
    margin: 0 1.0416666666666665%;
    margin-top: 20px;
    margin-left: 9.374999999999998%;
    color: rgba(51, 51, 51, 0.9);
    text-shadow: 0 1px rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.3);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0, rgba(255, 255, 255, 0.05) 50%, rgba(102, 102, 102, 0.1) 50%, rgba(119, 119, 119, 0.05) 100%);
    border-color: rgba(68, 68, 68, 0.6) rgba(68, 68, 68, 0.7) rgba(68, 68, 68, 0.8);
    box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.7), 0 1px 2px rgba(0, 0, 0, 0.2);
  }
  section {
    display: inline;
    float: left;
    width: 81.25%;
    height: 150px;
    margin: 0 1.0416666666666665%;
    margin-top: 20px;
    margin-left: 9.374999999999998%;
    overflow: hidden;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
    background: #333;
    background: rgba(34, 34, 34, 0.75);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    border-radius: 4px;
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 6px rgba(0, 0, 0, 0.4);
  }
}

@media screen and (max-width: 768px) {
  menu {
    display: inline;
    float: left;
    width: 97.91666666666666%;
    height: 30px;
    margin: 0 1.0416666666666665%;
    overflow: hidden;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
    background: #333;
    background: rgba(34, 34, 34, 0.75);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    border-radius: 4px;
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 6px rgba(0, 0, 0, 0.4);
  }
  section {
    display: inline;
    float: left;
    width: 97.91666666666666%;
    height: 150px;
    margin: 0 1.0416666666666665%;
    margin-top: 5px;
    overflow: hidden;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
    background: #333;
    background: rgba(34, 34, 34, 0.75);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    border-radius: 4px;
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 6px rgba(0, 0, 0, 0.4);
  }
}

.text-glow {
  text-shadow: 0 0 100px #fff;
}

metric {
  display: inline;
  float: left;
  width: 31.25%;
  height: 100%;
  margin: 0 1.0416666666666665%;
}

metric cap {
  display: block;
  height: 30px;
  overflow: hidden;
  font-size: 1em;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.8);
}

metric val {
  display: table-cell;
  width: 400px;
  height: 130px;
  font-size: 3em;
  color: #34ABE8;
  text-align: center;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.8);
  vertical-align: middle;
}

metric val:hover {
  text-shadow: 0 0 100px #fff;
}

.log {
  font-size: 0.7em;
  color: #ffffff;
}

.big {
  font-size: 4em;
  color: #F09B67;
}

.black {
  overflow: hidden;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
  background: #333;
  background: rgba(34, 34, 34, 0.75);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  border-radius: 4px;
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 6px rgba(0, 0, 0, 0.4);
}

.white {
  color: rgba(51, 51, 51, 0.9);
  text-shadow: 0 1px rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.3);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0, rgba(255, 255, 255, 0.05) 50%, rgba(102, 102, 102, 0.1) 50%, rgba(119, 119, 119, 0.05) 100%);
  border-color: rgba(68, 68, 68, 0.6) rgba(68, 68, 68, 0.7) rgba(68, 68, 68, 0.8);
  box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.7), 0 1px 2px rgba(0, 0, 0, 0.2);
}